# Breast Cancer Classification Using Neural Network

In [35]:
# Import Necessary Libraries
import pandas as pd
import numpy as np
from ucimlrepo import fetch_ucirepo

## Load Dataset

In [36]:

  
# fetch dataset 
breast_cancer = fetch_ucirepo(id=14) 
  
# data (as pandas dataframes) 
X = breast_cancer.data.features 
y = breast_cancer.data.targets 
  
# metadata 
print(breast_cancer.metadata) 
  
# variable information 
print(breast_cancer.variables)

{'uci_id': 14, 'name': 'Breast Cancer', 'repository_url': 'https://archive.ics.uci.edu/dataset/14/breast+cancer', 'data_url': 'https://archive.ics.uci.edu/static/public/14/data.csv', 'abstract': 'This breast cancer domain was obtained from the University Medical Centre, Institute of Oncology, Ljubljana, Yugoslavia. This is one of three domains provided by the Oncology Institute that has repeatedly appeared in the machine learning literature. (See also lymphography and primary-tumor.)', 'area': 'Health and Medicine', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 286, 'num_features': 9, 'feature_types': ['Categorical'], 'demographics': ['Age'], 'target_col': ['Class'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1988, 'last_updated': 'Thu Mar 07 2024', 'dataset_doi': '10.24432/C51P4M', 'creators': ['Matjaz Zwitter', 'Milan Soklic'], 'intro_paper': None, 'additional_info': {'summary': 'This data set includes 201 instances of one class and 85 instances of another class.  The instances are described by 9 attributes, some of which are linear and some are nominal.\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '   1. Class: no-recurrence-events, recurrence-events\r\n   2. age: 10-19, 20-29, 30-39, 40-49, 50-59, 60-69, 70-79, 80-89, 90-99.\r\n   3. menopause: lt40, ge40, premeno.\r\n   4. tumor-size: 0-4, 5-9, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40-44, 45-49, 50-54, 55-59.\r\n   5. inv-nodes: 0-2, 3-5, 6-8, 9-11, 12-14, 15-17, 18-20, 21-23, 24-26, 27-29, 30-32, 33-35, 36-39.\r\n   6. node-caps: yes, no.\r\n   7. deg-malig: 1, 2, 3.\r\n   8. breast: left, right.\r\n   9. breast-quad: left-up, left-low, right-up,\tright-low, central.\r\n  10. irradiat:\tyes, no.', 'citation': 'Obtained from the University Medical Centre, Institute of Oncology, Ljubljana, Yugoslavia.  Thanks go to M. Zwitter and M. Soklic for providing the data.  Please include this citation if you plan to use this database:\nMatjaz Zwitter & Milan Soklic (physicians)\nInstitute of Oncology \nUniversity Medical Center\nLjubljana, Yugoslavia'}}
          name     role         type demographic  \
0        Class   Target       Binary        None
1          age  Feature  Categorical         Age
2    menopause  Feature  Categorical        None
3   tumor-size  Feature  Categorical        None
4    inv-nodes  Feature  Categorical        None
5    node-caps  Feature       Binary        None
6    deg-malig  Feature      Integer        None
7       breast  Feature       Binary        None
8  breast-quad  Feature  Categorical        None
9     irradiat  Feature       Binary        None

                                         description  units missing_values
0            no-recurrence-events, recurrence-events   None             no
1  10-19, 20-29, 30-39, 40-49, 50-59, 60-69, 70-7...  years             no
2                                lt40, ge40, premeno   None             no
3  0-4, 5-9, 10-14, 15-19, 20-24, 25-29, 30-34, 3...   None             no
4   0-2, 3-5, 6-8, 9-11, 12-14, 15-17, 18-20, 21-...   None             no
5                                            yes, no   None            yes
6                                            1, 2, 3   None             no
7                                        left, right   None             no
8   left-up, left-low, right-up,\tright-low, central   None            yes
9                                            yes, no   None             no

In [37]:

Merge = pd.concat([X, y], axis=1)
Merge.to_csv('breast_cancer.csv', index=False)

In [38]:
data = pd.read_csv('breast_cancer.csv')

In [39]:
data.head()

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no,no-recurrence-events
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no,no-recurrence-events
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no,no-recurrence-events
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no,no-recurrence-events
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no,no-recurrence-events

In [40]:
data.describe()

        deg-malig
count  286.000000
mean     2.048951
std      0.738217
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000

In [41]:
data.shape

(286, 10)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          286 non-null    object
 1   menopause    286 non-null    object
 2   tumor-size   286 non-null    object
 3   inv-nodes    286 non-null    object
 4   node-caps    278 non-null    object
 5   deg-malig    286 non-null    int64
 6   breast       286 non-null    object
 7   breast-quad  285 non-null    object
 8   irradiat     286 non-null    object
 9   Class        286 non-null    object
dtypes: int64(1), object(9)
memory usage: 22.5+ KB

In [43]:
data.isnull().sum()

age            0
menopause      0
tumor-size     0
inv-nodes      0
node-caps      8
deg-malig      0
breast         0
breast-quad    1
irradiat       0
Class          0
dtype: int64

In [44]:
data.dtypes

age            object
menopause      object
tumor-size     object
inv-nodes      object
node-caps      object
deg-malig       int64
breast         object
breast-quad    object
irradiat       object
Class          object
dtype: object

In [45]:
# Filling missing values in 'node-caps' and 'breast-quad' with the mode (most frequent value)
data['node-caps'].fillna(data['node-caps'].mode()[0], inplace=True)
data['breast-quad'].fillna(data['breast-quad'].mode()[0], inplace=True)

C:\Users\uttam\AppData\Local\Temp\ipykernel_12244\2738075337.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['node-caps'].fillna(data['node-caps'].mode()[0], inplace=True)
C:\Users\uttam\AppData\Local\Temp\ipykernel_12244\2738075337.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['breast-quad'].fillna(data['breast-quad'].mode()[0], inplace=True)

In [46]:
data.isnull().sum()

age            0
menopause      0
tumor-size     0
inv-nodes      0
node-caps      0
deg-malig      0
breast         0
breast-quad    0
irradiat       0
Class          0
dtype: int64

In [47]:
data.head()

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no,no-recurrence-events
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no,no-recurrence-events
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no,no-recurrence-events
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no,no-recurrence-events
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no,no-recurrence-events

In [48]:
data.dtypes

age            object
menopause      object
tumor-size     object
inv-nodes      object
node-caps      object
deg-malig       int64
breast         object
breast-quad    object
irradiat       object
Class          object
dtype: object

In [49]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Class'] = le.fit_transform(data['Class'])
data['node-caps'] = le.fit_transform(data['node-caps'])
data['breast'] = le.fit_transform(data['breast'])
data['irradiat'] = le.fit_transform(data['irradiat'])

In [50]:
data = pd.get_dummies(data, columns=['age', 'menopause', 'tumor-size', 'inv-nodes', 'breast-quad'])

In [51]:
data.head()

,node-caps,deg-malig,breast,irradiat,Class,age_20-29,age_30-39,age_40-49,age_50-59,age_60-69,...,inv-nodes_14-Dec,inv-nodes_15-17,inv-nodes_24-26,inv-nodes_5-Mar,inv-nodes_8-Jun,breast-quad_central,breast-quad_left_low,breast-quad_left_up,breast-quad_right_low,breast-quad_right_up
0,0,3,0,0,0,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,0,2,1,0,0,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2,0,2,0,0,0,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
3,0,2,1,0,0,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False
4,0,2,1,0,0,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False

In [52]:
from sklearn.model_selection import train_test_split

X = data.drop('Class', axis=1)  # Features
y = data['Class']  # Target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [53]:
# Shuffle the rows of the DataFrame
shuffled_data = data.sample(frac=1, random_state=42).reset_index(drop=True)

In [54]:
shuffled_data.head()

,node-caps,deg-malig,breast,irradiat,Class,age_20-29,age_30-39,age_40-49,age_50-59,age_60-69,...,inv-nodes_14-Dec,inv-nodes_15-17,inv-nodes_24-26,inv-nodes_5-Mar,inv-nodes_8-Jun,breast-quad_central,breast-quad_left_low,breast-quad_left_up,breast-quad_right_low,breast-quad_right_up
0,0,2,1,0,0,False,False,True,False,False,...,False,False,False,False,False,False,False,True,False,False
1,1,3,0,1,1,False,False,False,False,True,...,False,False,True,False,False,False,True,False,False,False
2,0,2,0,1,0,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
3,0,3,1,0,1,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
4,0,3,1,1,1,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False

In [56]:
from sklearn.model_selection import train_test_split

# Assuming 'shuffled_data' is the DataFrame you shuffled earlier
# X is the feature set, and y is the target set
X = shuffled_data.drop('Class', axis=1).values  # Drop the 'Class' column (features)
y = shuffled_data['Class'].values  # Target column

# Split the data into 70% training and 30% testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

# Check the shape of the split data
print(f"Training set: {X_train.shape}, {y_train.shape}")
print(f"Test set: {X_test.shape}, {y_test.shape}")

Training set: (200, 36), (200,)
Test set: (86, 36), (86,)

In [57]:
# Initialize weights and biases (assuming a single hidden layer neural network for simplicity)
input_size = X_train.shape[1]
hidden_size = 10  # You can choose a different size for the hidden layer
output_size = 1

# Random initialization of weights and biases
np.random.seed(42)  # For reproducibility
W1 = np.random.randn(input_size, hidden_size)  # Weights between input and hidden layer
b1 = np.random.randn(hidden_size)              # Bias for hidden layer
W2 = np.random.randn(hidden_size, output_size) # Weights between hidden and output layer
b2 = np.random.randn(output_size)              # Bias for output layer

# Set the learning rate
learning_rate = 0.001

In [58]:
# Sigmoid activation function
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

# Forward propagation
def forward_propagation(X, W1, b1, W2, b2):
    # Hidden layer
    Z1 = np.dot(X, W1) + b1
    A1 = sigmoid(Z1)
    
    # Output layer
    Z2 = np.dot(A1, W2) + b2
    A2 = sigmoid(Z2)
    
    return A1, A2

In [59]:
# Mean squared error calculation
def calculate_error(y_true, y_pred):
    return 0.5 * np.mean((y_true - y_pred) ** 2)

In [60]:
# Backpropagation to update weights and biases
def backpropagation(X, y, A1, A2, W1, b1, W2, b2, learning_rate):
    m = X.shape[0]
    
    # Error at output layer
    dZ2 = A2 - y.reshape(-1, 1)
    dW2 = (1 / m) * np.dot(A1.T, dZ2)
    db2 = (1 / m) * np.sum(dZ2, axis=0)
    
    # Error at hidden layer
    dA1 = np.dot(dZ2, W2.T)
    dZ1 = dA1 * A1 * (1 - A1)
    dW1 = (1 / m) * np.dot(X.T, dZ1)
    db1 = (1 / m) * np.sum(dZ1, axis=0)
    
    # Update weights and biases
    W1 -= learning_rate * dW1
    b1 -= learning_rate * db1
    W2 -= learning_rate * dW2
    b2 -= learning_rate * db2
    
    return W1, b1, W2, b2